* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

nav {
    height: 10vh;
    padding: 1rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    cursor: pointer;
}

.brand {
    padding: 2rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding: 3rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #000;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.glass {
    min-height: 100vh;
    width: 80%;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 1rem;
    z-index: 2;
    backdrop-filter: blur(0.25rem);
}

.profile {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem 0 0 1rem;
    padding: 10px;
    margin: 0 0.5rem 0 0;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}

.profile img {
    border-radius: 50%;
}

.profile div {
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 1rem;
    background: #fff;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile div h3 {
    color: blue;
}

.profession {
    background: #fff;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 5px;
}

.profession ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    padding: 5px;
}

.institute {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
    margin: 0 0 0 0.5rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}

.institute div {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
    background: #fff;
}

.experience {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
    margin: 0 0 0 0.5rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}

.experience div {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
    background: #fff;
}

.licences {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;
    margin: 0 0 0 0.5rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}

.licences div {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
    background: #fff;
}

.circle1,
.circle2,
.circle3,
.circle4 {
    position: absolute;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.circle1 {
    top: 430px;
    left: 50px;
}

.circle4 {
    bottom: 5px;
    left: 50px;
}

.circle2 {
    top: 50px;
    right: 50px;
}

.circle3 {
    bottom: 400px;
    right: 50px;
}

h2,
h4,
p {
    color: blue;
}

.footer {
    display: flex;
    margin: 0;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
}

ul {
    display: flex;
    list-style-type: none;
}

.author {
    color: #fff;
    padding: 0 1rem;
}

.author span {
    color: hsl(231, 51%, 50%);
}

.social-media {
    padding: 5px;
}

.social-media a {
    color: #fff;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
}


/*================= Media Querry =================*/

@media all and (min-width: 1024px) and (max-width: 1280px) {}

@media all and (min-width: 768px) and (max-width: 1024px) {}

@media all and (min-width: 480px) and (max-width: 768px) {}

@media all and (max-width: 480px) {}

@media screen and (max-width:480px) {
    body {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        font-family: sans-serif;
        background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    }
    nav {
        height: 6vh;
        padding: 0.5rem;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: blue;
        cursor: pointer;
    }
    .brand {
        padding: 0.5rem;
    }
    nav ul {
        list-style-type: none;
        display: flex;
        padding: 0.5rem;
    }
    nav a {
        color: #fff;
        text-decoration: none;
    }
    nav a:hover {
        color: #000;
    }
    main {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .glass {
        min-height: 100vh;
        width: auto;
        margin: 0.3rem;
        display: flex;
        flex-direction: column;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
        border-radius: 1rem;
    }
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1rem;
        padding: 10px;
        margin: 0.5rem;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    }
    .profile img {
        border-radius: 50%;
    }
    .profile div h3 {
        color: blue;
    }
    .profession {
        background: #fff;
        border-radius: 1rem;
        padding: 0.05rem;
        margin: 5px;
    }
    .profession ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    li {
        padding: 5px;
    }
    .education {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0.5rem;
        border-radius: 1rem;
        margin: 0.5rem;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    }
    .education div {
        padding: 0.5rem;
        border-radius: 1rem;
        margin: 0.5rem;
        background: #fff;
    }
    .experience {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0.5rem;
        border-radius: 1rem;
        margin: 0.5rem;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    }
    .experience div {
        padding: 0.5rem;
        border-radius: 1rem;
        margin: 0.5rem;
        background: #fff;
    }
    .licences {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        border-radius: 1rem;
        margin: 0.5rem;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    }
    .licences div {
        padding: 1rem;
        margin: 0.5rem 0;
        border-radius: 1rem;
        background: #fff;
    }
    .circle1,
    .circle2,
    .circle3,
    .circle4 {
        display: none;
    }
    h2,
    h4,
    p {
        color: blue;
    }
    h2 {
        padding: 1rem;
        text-align: center;
        border-radius: 1rem;
        background: #fff;
    }
    .experience,
    .institute,
    .licences span {
        display: flex;
        padding: 5px;
    }
    .footer {
        margin: 0;
        padding: 1em;
        height: auto;
        width: auto;
        font-size: 0.9rem;
        background-color: #444;
    }
    .footer-list {
        display: flex;
        padding: 1rem 0.5rem;
        gap: 10px;
        list-style-type: none;
    }
    .social-media a {
        color: #fff;
        text-decoration: none;
    }
    .social-media {
        padding: 0 1.5rem;
    }
}